/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */

body {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    background: black;
    margin: 0;
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */


/*Button*/

.link{
    background-color: rgba(117, 0, 167, 0.5);
  
    padding:10px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;
  
    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    text-decoration: none;
  }
  .links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a{
    border: 5px;
    border-color: black;
    border-style: solid;
    margin: auto;
  }
  
  .link:hover{
  
    background-color: rgba(134, 0, 167, 0.8);
  
    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
  }

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: rgb(117, 117, 221);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Chivo', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 1000px;
    background-color: rgb(255, 253, 253);

      
    border-width: 6px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(117, 117, 221);
}


/* Set the apperance of the class, chart */

#Chart1{
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  display: block; 
  margin: 0 auto;


}

#Chart2{
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  display: block; 
  margin: 0 auto;
  

}

#Chart3{
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  display: block; 
  margin: 0 auto;
  

}

#Chart4{
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  display: block; 
  margin: 0 auto;
  

}

#Chart5{
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  display: block; 
  margin: 0 auto;
  

}

#Chart6{
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  display: block; 
  margin: 0 auto;
  

}

#Chart7{
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  display: block; 
  margin: 0 auto;
  

}

#Chart8{
  background-color: rgb(255, 255, 255);
  width: 600px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  display: block; 
  margin: 0 auto;
  

}

#Chart9{
  background-color: rgb(255, 255, 255);
  width: 600px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  text-align: center;
  display: block; 
  margin: 0 auto;
  

}
