/*CSS file for portfolio*/

/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */


body{
    background-color:#f6f6f8;
    background-size: cover;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}



/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: #f6f6f8;

}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width: 360px;
    border-width: 3px;
    border-radius: 2px;
    margin-left: 120px;
    margin-right: 120px;
    
}



#Chart4{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 120px;
    margin-left: 120px;
 
}


#Chart6{
  margin-right: 120px;
  margin-left: 100px;
  margin-top: 15px;
  margin-bottom: 5px;
  
}



#Chart7{
    margin-right: 80px;
    margin-left: 0px;
    margin-top: 15px;
  }

#Chart8{
    margin-right: 80px;
    margin-left: 0px;
    
  }
